stepfunctions_config.json
{
 "Comment": "A description of my state machine",
 "StartAt": "Preprocessing Script Mode",
 "States": {
   "Preprocessing Script Mode": {
     "Type": "Task",
     "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
     "Parameters": {
       "ProcessingInputs": [
         {
           "InputName": "input_data",
           "S3Input": {
             "S3Uri.$": "$.InputUri.S3Uri",
             "LocalPath": "/opt/ml/processing/input/data/",
             "S3DataType": "S3Prefix",
             "S3InputMode": "File"
           }
         },
         {
           "InputName": "scripts",
           "S3Input": {
             "S3Uri.$": "$.CodeUri.S3Uri",
             "LocalPath": "/opt/ml/processing/input/scripts/",
             "S3DataType": "S3Prefix",
             "S3InputMode": "File"
           }
         }
       ],
       "ProcessingOutputConfig": {
         "Outputs": [
           {
             "OutputName": "output_data",
             "S3Output": {
               "S3Uri.$": "$.OutputUri.S3Uri",
               "LocalPath": "/opt/ml/processing/output",
               "S3UploadMode": "EndOfJob"
             }
           }
         ]
       },
       "ProcessingJobName.$": "$.ProcessingJobName",
       "ProcessingResources": {
         "ClusterConfig": {
           "InstanceCount": 1,
           "InstanceType.$": "$.InstanceType",
           "VolumeSizeInGB.$": "$.VolumeSizeInGB"
         }
       },
       "StoppingCondition": {
         "MaxRuntimeInSeconds.$": "$.MaxRuntimeInSeconds"
       },
       "AppSpecification": {
         "ImageUri.$": "$.ImageUri",
         "ContainerEntrypoint": [
           "python",
           "/opt/ml/processing/input/scripts/preprocess.py"
         ]
       },
       "RoleArn.$": "$.RoleArn"
     },
     "Next": "Inference Custom Container",
     "InputPath": "$.PreProcessing",
     "ResultPath": null
   },
   "Inference Custom Container": {
     "Type": "Task",
     "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
     "Parameters": {
       "ProcessingInputs": [
         {
           "InputName": "input_data",
           "S3Input": {
             "S3Uri.$": "$.InputUri.S3Uri",
             "LocalPath": "/opt/ml/processing/input",
             "S3DataType": "S3Prefix",
             "S3InputMode": "File"
           }
         }
       ],
       "ProcessingOutputConfig": {
         "Outputs": [
           {
             "OutputName": "output_data",
             "S3Output": {
               "S3Uri.$": "$.OutputUri.S3Uri",
               "LocalPath": "/opt/ml/processing/output",
               "S3UploadMode": "EndOfJob"
             }
           }
         ]
       },
       "ProcessingJobName.$": "$.ProcessingJobName",
       "ProcessingResources": {
         "ClusterConfig": {
           "InstanceCount": 1,
           "InstanceType.$": "$.InstanceType",
           "VolumeSizeInGB.$": "$.VolumeSizeInGB"
         }
       },
       "StoppingCondition": {
         "MaxRuntimeInSeconds.$": "$.MaxRuntimeInSeconds"
       },
       "AppSpecification": {
         "ImageUri.$": "$.ImageUri"
       },
       "RoleArn.$": "$.RoleArn"
     },
     "ResultPath": null,
     "InputPath": "$.Inference",
     "Next": "Postprocessing Script Mode"
   },
   "Postprocessing Script Mode": {
     "Type": "Task",
     "Resource": "arn:aws:states:::sagemaker:createProcessingJob.sync",
     "Parameters": {
       "ProcessingInputs": [
         {
           "InputName": "input_data",
           "S3Input": {
             "S3Uri.$": "$.InputUri.S3Uri",
             "LocalPath": "/opt/ml/processing/input/data/",
             "S3DataType": "S3Prefix",
             "S3InputMode": "File"
           }
         },
         {
           "InputName": "scripts",
           "S3Input": {
             "S3Uri.$": "$.CodeUri.S3Uri",
             "LocalPath": "/opt/ml/processing/input/scripts/",
             "S3DataType": "S3Prefix",
             "S3InputMode": "File"
           }
         }
       ],
       "ProcessingOutputConfig": {
         "Outputs": [
           {
             "OutputName": "output_data",
             "S3Output": {
               "S3Uri.$": "$.OutputUri.S3Uri",
               "LocalPath": "/opt/ml/processing/output",
               "S3UploadMode": "EndOfJob"
             }
           }
         ]
       },
       "ProcessingJobName.$": "$.ProcessingJobName",
       "ProcessingResources": {
         "ClusterConfig": {
           "InstanceCount": 1,
           "InstanceType.$": "$.InstanceType",
           "VolumeSizeInGB.$": "$.VolumeSizeInGB"
         }
       },
       "StoppingCondition": {
         "MaxRuntimeInSeconds.$": "$.MaxRuntimeInSeconds"
       },
       "AppSpecification": {
         "ImageUri.$": "$.ImageUri",
         "ContainerEntrypoint": [
           "python",
           "/opt/ml/processing/input/scripts/postprocess.py"
         ]
       },
       "RoleArn.$": "$.RoleArn"
     },
     "End": true,
     "InputPath": "$.PostProcessing"
   }
 }
}
